<div class="row">
    <header class="col-12">

        <a href='@Url.Action("Index", "Home")' id="logo">
            <figure class="col-sm-12 offset-sm-0 col-md-4 offset-md-4">
                <img class="logo" src="~/img/logo.png">
                <figcaption><h1>TSBStories</h1></figcaption>
            </figure>
        </a>
        <h2>Graphomania Incarnate</h2>

        <nav>
            <ul>
                <div class="col-lg-2 col-sm-12">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                </div>
                <div class="col-lg-2 col-sm-12">
                    <li>
                        @Html.ActionLink("Stories", "Index", "Stories")
                    </li>
                </div>
                <div class="col-lg-2 col-sm-12">
                    <li>
                        @Html.ActionLink("About", "About", "Home")
                    </li>
                </div>
                <div class="col-lg-2 col-sm-12">
                    <li>
                        @Html.ActionLink("Contact", "Contact", "Home")
                    </li>
                </div>
            </ul>
        </nav>
    </header>

</div>
