@model MVCCourseProject.Models.UserViewModel

@{
    ViewBag.Title = "ViewUser";
}

<h2>ViewUser</h2>

<div>
    <h4>UserViewModel</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "Home")
</p>
