@using CourseProject.Models
@model HomeViewModel

<div class="row">
    <div class="col-xl-1 button"><button type="button" class="btn btn-secondary prev" id="prev"><</button></div>

    <div class="col-xl-10" id="car">

        @{
            int counter = 0;
            foreach (HomeStoriesViewModel story in Model.StoriesList)
            {
                if (counter < 2)
                {
                    <div class="slide-active col-md-6">
                        <a href="@Url.Action("ViewStoryChapters", "Stories", new { Story = @story.Slug })">
                            <img class="story" src="@story.ImgLink" alt="@story.ID" />
                        </a>
                    </div>
                }
                else
                {
                    <div class="hidden col-md-6">
                        <a href="@Url.Action("ViewStoryChapters", "Stories", new { Story = @story.Slug })">
                            <img class="story" src="@story.ImgLink" alt="@story.ID" />
                        </a>
                    </div>
                }
                counter++;
            }
        }

    </div>
    <div class="col-xl-1 button"><button type="button" class="btn btn-secondary next" id="next">></button></div>
</div>