@using CourseProject.Models;
@model ChapterViewModel

@{
    ViewBag.Title = "ViewChapters";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (string.IsNullOrEmpty(ViewBag.ErrorMessage) == false)
    {
        <div>@ViewBag.ErrorMessage</div>
    }
    if (string.IsNullOrEmpty(ViewBag.Message) == false)
    {
        <div>@ViewBag.Message</div>
    }
}

<div class="table-actions">
    <h2> Stories </h2>
    @Html.ActionLink("Add New Chapter", "EditChapter", "Chapter", new { id = Model.StoryID } , new { @class = "btn btn-primary btn-sm" })
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>StoryID</th>
            <th>Name</th>
            <th>Chapter Number</th>
            <th>Slug</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    @foreach (ChaptersViewModel chapter in Model.chapters)
    {
        <tr>
            <td>@chapter.ID</td>
            <td>@chapter.StoryID</td>
            <td>@chapter.ChapterName</td>
            <td>@chapter.ChapterNum</td>
            <td>@chapter.Slug</td>
            <td class="cell-small">
                @Html.ActionLink("Edit", "EditChapter", "Chapter", new { id = chapter.ID }, new { @class = "btn btn-primary btn-sm" })
            </td>
            <td class="cell-small">
                @Html.ActionLink("Delete", "DeleteChapter", "Chapter", new { id = chapter.ID }, new { onclick = "return confirm('Are you sure you to delete this chapter?');", @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }
</table>

<div class="row col-12">
    @Html.ActionLink("Back to List", "EditStories", "Stories")
</div>
